[MASTER]
ignore=CVS
ignore-patterns=

[MESSAGES CONTROL]
disable=
    R, # Refactoring
    C, # Convention
    W, # Warnings
    I, # Information
    # Keep only Errors (E) and Fatals (F) to unblock CI score
    # But specifically disable E1101, E1136 etc that are environmental or noise
    E1101,
    E1136,
    E0401

[REPORTS]
output-format=text
